/* sidebar.module.scss */
.sidebar {
  width: 240px;
  background-color: #fafafa;
  border-right: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .profile {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .menu {
    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 0.5rem 0;
        cursor: pointer;

        a{
          display: block;
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          background: #eee;
          border-radius: 4px;
        }
      }
    }
  }

  .projects {
    h4 {
      margin: 1rem 0 0.5rem;
      font-size: 0.9rem;
      color: #555;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 0.4rem 0;
        cursor: pointer;
      }
    }
  }
}
