.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  .body {
    display: flex;
    flex: 1;
  }
  .main {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    background: white;
    }
  // .footer {
  //   height: 48px;
  //   background: #f1f1f1;
  //   border-top: 1px solid #ddd;
  //   flex-shrink: 0;
  // }
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}